---
let username = "";
---
<div>
    <h1 id="">Hello {username || "user"}</h1>
    <h2 id="">Let's set your Password</h2>
    <form id="submit">
        <label for="username">What is your desired username?</label>
        <input type="text" placeholder="Ex: user" required/>
        <button>Submit</button>
        <p id="error" class="error"></p>
    </form>
</div>

<script>
    document.getElementById("submit").addEventListener("submit", (e) => {
      e.preventDefault();
      const Input = document.getElementById("email") as HTMLInputElement;
      send(Input.value);
    });
    async function send(input: string) {
      try {
          const req = await fetch("/api/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
              type: "name",
              content: input,
            })
          })
          const res = await req.json();
          if (res.success !== true) {
            document.getElementById("error").innerText = "Server side error.";
          } else {
            
          }
      } catch (e) {
          document.getElementById("error").innerText = "Client side or Server side error.";
      }
    }
</script>

<style>
    .error {
        padding: 0;
        gap:0;
        margin: 0;
        color: rgb(141, 0, 0);
    }
</style>